@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(54, 54, 54);
}

h1, p{
  color: rgb(228, 228, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10%;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color:rgba(1, 189, 57);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10%;
}

img {
  display: block;
  margin: auto;
  width: 380px;
  height: 500px;
}

.nav-link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-link li a {
  transition: all 0.3 ease 0s;
}

.nav-link li a:hover {
  color: rgb(228, 228, 228)
}

.nav-link li {
  display: inline-block;
  padding: 0px 20px;
}

button {
  padding: 9px 25px;
  background-color:rgba(245, 245, 245, 0.8);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.616);
}
